<body>

    <div class="container">

      <div class="content">

        <div class="left-side">

          <div class="address details">

            <i class="fas fa-map-marker-alt"></i>

            <div class="topic">Address</div>

            <div class="text-one">Karnataka , banglore</div>

            <div class="text-two">Banglore 560066</div>

          </div>

          <div class="phone details">

            <i class="fas fa-phone-alt"></i>

            <div class="topic">Phone</div>

            <div class="text-one">989 893 5647</div>

            <div class="text-two">963 434 5678</div>

          </div>
          <div class="email details">

            <i class="fas fa-envelope"></i>

            <div class="topic">Email</div>

            <div class="text-one">Matrimonial@gmail.com</div>

            <div class="text-two">matrimony@gmail.com</div>

          </div>

        </div>

        <div class="right-side">

          <div class="topic-text"><h3>Contact Us</h3></div>

          <p>Contact us today,and get reply with in 24 hours!</p>

          <form action="/action_page.php" #myForm="ngForm" (ngSubmit)="onContact(myForm)">

          <div class="input-box">

            <input type="text" name="userName" placeholder="Enter your name">

          </div>

          <div class="input-box">

            <input type="email" name="email" placeholder="Enter your email">

          </div>

          <div class="input-box message-box">



          <div>

              <textarea id="subject" name="subject" placeholder="Type your message here.." style="height:100px"></textarea>

          </div>

           

          </div>

          <div class="button">

            <button type="submit" class="registerbtn">Contact</button>

           

          </div>

        </form>

      </div>

      </div>

    </div>

  </body>
