
body {
font-family: Arial, Helvetica, sans-serif;
 background-color: black;
background-image: url('https://www.lovethispic.com/uploaded_images/16260-Just-Married-Couple.jpg?');

 min-height: 100vh;
width: 100%;

 display: flex;
align-items: center;
 justify-content: center;
 
 }
 
 /* * {
 box-sizing: border-box;
 } */
 
 /* Add padding to containers */
 .container {
 padding: 6px;
background-color: rgba(150, 186, 197, 0.441);
 } 



/* Full-width input fields */
 /* input[type=text], input[type=password] {
 width: 100%;
 padding: 5px;
 margin: 5px 0 22px 0;
 display: inline-block;
 border: none;
 background: #f1f1f1;
 } */
 
 /* input[type=text]:focus, input[type=password]:focus {
 background-color: rgb(11, 185, 63);
 outline: none;
 } */


/* Overwrite default styles of hr */
 /* hr {
 border: 1px solid #f1f1f1;
 margin-bottom: 25px;
 } */
/* Set a style for the submit button */
 /* .registerbtn {
 background-color: #1114ce;
 color: white;
 padding: 6px 10px;
 margin: 4px 0;
 border: none;
 cursor: pointer;
 width: 100%;
opacity: 0.9;
 } */
 


 /* .registerbtn:hover {
 opacity: 1;
 }
*/
 /* Add a blue text color to links */ /* a {
color: rgb(255, 30, 30);
} */

 /* Set a grey background color and center the text of the "sign in" section */
 /* .signin {
background-color: #f1f1f1;
text-align: center;
} */

 .row {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
 flex-wrap: wrap;
margin: 0 -16px;
 }
 
 .col-25 {
-ms-flex: 25%; /* IE10 */
 flex: 25%;
}

 .col-50 {
-ms-flex: 50%; /* IE10 */
 flex: 50%;
 }
 
 .col-75 {
-ms-flex: 75%; /* IE10 */
flex: 75%;
 }
 
 .col-25,
 .col-50,
 .col-75 {
 padding: 0 16px;
 }
 .container {
 background-color: rgb(221, 219, 106);
 padding: 10px 30px 15px 20px;
 border: 3px solid lightgrey;
 border-radius: 3px;
 }
 
input[type=text] {
width: 100%;
 margin-bottom: 20px;
padding: 12px;
 border: 1px solid rgb(226, 226, 186);
 border-radius: 3px;
 }
 


 label {
 margin-bottom: 10px;
display: block;
 }

.icon-container {
 margin-bottom: 20px;
padding: 7px 0;
 font-size: 24px;
 }
.btn {
 background-color: #04AA6D;
 color: green;
padding: 24px;
margin: 10px 0;
 border: none;
width: 100%;
 border-radius: 3px;
 cursor: pointer;
font-size: 17px;
 }
 .btn:hover {
background-color: #45a049;
 }
span.price {
 float: right;
color: green;
}

 /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
 @media (max-width: 800px) {
 .row {
 flex-direction: column-reverse;
}
 .col-25 {
margin-bottom: 20px;
 }
 }

