
<!DOCTYPE html>
<html>
<head>
    <title>Matrimonial Website landing page design html css</title>
<link rel="stylesheet" type="text/css" href="home.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <div class="info">
        <span> <i class="fa fa-phone"></i> 90254345403</span>
        <span> <i class="fa fa-envelope"></i> matrimony@gmail.com</span>
    </div>
    <nav>
        <div class="logo">
            <i class="fa fa-gift"></i> WELCOME TO OUR BEGINING
        </div>
        


    </nav>

    

    <div class="htext">
        <h2>Matrimonial Search.</h2>
    <h2>Best Matching <span>Couples</span></h2>
    <p>
        </p>
    <br>
    <a href="aboutus">Read more</a>

    </div>

</header>
</body>
</html>

