<!DOCTYPE html>

<html>

<head>

    <title>About Us Section</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <link rel="stylesheet" type="text/css" href="aboutus.component.css">

</head>

<body>

    <div class="section">

        <div class="container">

            <div class="content-section">

                <div class="title">

                    <h1>About Us</h1>

                </div>

                <div class="content">

                    <h5>The main objective of Matrimonial Portal is to provide grooms and brides an excellent matchmaking involvement exploring the favorable circumstances and resources to meet their true potential partners.We also develop the community solutions and business friendly solution. Our matrimonial portal development includes advanced features and functionality at affordable price as our motive is to satisfy our client’s.



            Keeping the objective in mind, we will help our customers in creating an online matchmaking services that will have the capacity to touch the soul of million people all over the globe.

        </h5>

         

    </div>

    <div class="social">

        <a href=""><i class="fab fa-facebook-f"></i></a>

        <a href=""><i class="fab fa-twitter"></i></a>

        <a href=""><i class="fab fa-instagram"></i></a>

    </div>

</div>

<!-- <div class="image-section">

    <img src="/src/assets/images/aboutus.jpg">

</div> -->

</div>

</div>





</body>

</html>